{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="post">
        <div>
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" required>
            </label>
        </div>

        <div>
            <label>
                Текст статьи:
                <textarea name="article_text" required></textarea>
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_public">
                Сделать публичной
            </label>
        </div>

        <div>
            <button type="submit">Готово</button>
            <a href="/lab5/list" class="button-link">Отмена</a>
        </div>
    </form>
{% endblock %}