<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Татьяна Щегорцова. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='lab1/main.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='lab2/favicons/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='lab2/favicons/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='lab2/favicons/favicon-16x16.png') }}">
</head>
<style>
    .error {
        color: #ff0000;
        font-size: 14px;
        margin-top: 5px;
        display: block;
        font-style: italic;
    }
</style>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>

    <main>
       {% block main %}{% endblock %} 

       <div>
            <a href="{{ url_for('index') }}">
                На главную
            </a>
        </div>
    </main>

    <footer>
        &copy; Татьяна Щегорцова, ФБИ-31, 3 курс, 2025
    </footer>
</body>
</html>