{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab8/lab8.css') }}">

    <h1>Редактирование статьи</h1>

    <form action="/lab8/edit/{{ article.id }}" method="post">
        <div>
            <label>
                Название: <input type="text" name="title" value="{{ article.title }}">
            </label>
        </div>

        <div>
            <label>
                Текст статьи:
                <textarea name="article_text">{{ article.article_text }}</textarea>
            </label>
        </div>

        <div>
            <label>
                <input type="checkbox" name="is_public" {% if article.is_public %}checked{% endif %}> Публичная статья
            </label>
        </div>

        <button type="submit">Сохранить</button>
        <a href="/lab8/articles/" class="button-link">Отмена</a>
    </form>
{% endblock %}